.header-image {
  background-image: url("cenote_back.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

.is-grey {
  background-color: #f3f3f3;
}
